.blog {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;

}

.blog__card {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 12px;

}

.blog__img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;

}

.blog__title {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 20px;
}

.blog__text {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 0.93rem;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    color: var(--black-75);
}

.blog__button {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 48px;


    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

@media (min-width: 768px) {

    .blog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .blog__img,
    .blog__card {
        flex: 1 1 45%;
    }

    .blog__img--second {
        order: 4;
    }

    .blog__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}