.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
            
    &__team {
        padding:2rem;
        gap: 1.5rem;
        margin-top: 2rem;
        @media (width > 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin-top: 2rem;
        }
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    &__photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        background-color: white;
        margin: 1rem;
        width:280px;
        @media (width > 768px) {
          width: 25%;
        }
    }
    &__name {
        font-size: 1.25rem;
        font-weight: bold;
    }
    &__img {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    &__name, &__text {
        text-align: left;
        width:100%;
    }
    &__text {
        margin-bottom: 0.5rem;
    }
}