.team{
    background-color: white;
    &__team {
        padding:2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 1.5rem;
        margin-top: 2rem;
        @media (width > 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap:2rem;
            margin-top: 2rem;
        }
    }
    &__photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        background-color: white;
        width:280px;
        @media (width > 768px) {
          width: 25%;
        }
    }
    &__photos img {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    &__photos h3, &__photos p {
        text-align: left;
        width:100%;
    }
    &__photos h3 {
        margin-bottom: 0.5rem;
    }
}