:root {
  /* COLORS */
  /* OPACITY 100 */
  --green-100: rgb(116, 198, 157); // #74C69D
  --black-100: rgb(33, 37, 41); // #212529
  --white-100: rgb(255, 255, 255); // #FFFFFF
  /* OPACITY 75 */
  --green-75: rgba(116, 198, 157, 0.75);
  --black-75: rgba(33, 37, 41, 0.75);
  --white-75: rgba(255, 255, 255, 0.75);
  /* OPACITY 50 */
  --green-50: rgba(116, 198, 157, 0.5);
  --black-50: rgba(33, 37, 41, 0.5);
  --white-50: rgba(255, 255, 255, 0.5);
  /* OPACITY 25 */
  --green-25: rgba(116, 198, 157, 0.25);
  --black-25: rgba(33, 37, 41, 0.25);
  --white-25: rgba(255, 255, 255, 0.25);

  /* FONTS */
  --font-heading: "Crimson Text", serif;
  --font-text: "Work Sans", serif;
}