.contact {
    background-color: var(--white-100);
    padding: 1.25rem;
    font-family: var(--font-heading);

    &__title {
        text-align: center;
        font-family: var(--font-text);
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    // continuará
}