.footer{
    background-color: var(--green-100);
    padding: 31px 0px 31px 0px;

    &__rrss {
        display: flex;
        justify-content: center;
        gap: 20px;
        color: var(--white-100);
        margin-bottom: 20px;
    }
    &__copyright{
        display: flex;
        justify-content: center;
        color: var(--white-100);
    }
}

