<section class="blog">

    <article class="blog_card">
        <img src="./public/images/Group with messages.svg"
            alt="ilustración de tres chicas comunicándose entre ellas colocadas de forma circular en el dibujo. Una de ellas tiene el pelo negro rizado con un jersey naranja de cuello alto y sobre ella un icono con un bocadillo y puntos suspensivos en el centro, la segunda, colocada abajo de esta tiene el pelo negro, liso y largo y está trabajando con un ordenado; sobre ella, un icono de un sobre naranja. La última de ellas se encuentra a la izquierda de la imagen, tiene el pelo negro y corto y lleva una chaqueta azul, sobre ella el icono de un avión de papel azul que se dirige a la primera de ellas">


        <h3 class="blog_title">
            Lorem ipsim dolor sit amet consectetur
        </h3>

        <p class="blog_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit nemo hic quos, ab, dolor aperiam nobis eum est eos error ipsum.
        </p>

        <button class="blog_button">
            Ver más
        </button>

    </article>
</section>