@use "./core/reset";
@use "./core/variables";
@use "./core/body";

@use "./layout/header";
@use "./layout/footer";
@use "./layout/contact";
@use "./components/blog";
@use "./components/hero";
@use "./components/team";