@use "./core/reset";
@use "./core/variables";
@use "./core/body";

@use "./layout/header";
@use "./layout/footer";
@use "./layout/contact";

<<<<<<< HEAD
@use "./components/hero";
=======
@use "./layout/contact";

@use "./layout/blog"
>>>>>>> 680b1b3 (blog partials html + css)
